fastapi
uvicorn
langchain
langchain-community
langchain-openai
langchain-google-genai
langchain-chroma
chromadb
pymupdf
beautifulsoup4
tiktoken
pydantic
python-dotenv
httpx
sse-starlette
sqlmodel
langchain-ollama
pydantic-settings
langgraph
duckduckgo-search
loguru
